<md-content layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
  <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button><md-icon class="material-icons" ui-sref="login">keyboard_return</md-icon></md-button><h2><span>Recover Password</span></h2>
      </div>
    </md-toolbar>

    <md-progress-linear class="md-accent" md-mode="indeterminate" ng-show="isLoading"></md-progress-linear>

    <md-card-content>
      <form name="Form">
        <md-input-container class="md-block">
          <label>Email</label>
          <input type="text" name="email" ng-model="email" placeholder="email@gmail.com" ng-disabled="isLoading" required="" />
          <div ng-messages="Form.email.$error" role="alert" multiple="">
            <div ng-message="required" class="my-message">Enter email</div>
          </div>
        </md-input-container>

        <span md-colors="{color:'warn'}" ng-show="message">{{message}}<br><br></span>

        <md-button ng-disabled="!Form.$valid || isLoading" ng-click="forgotPassword()" class="md-raised md-primary">&nbsp Send Email &nbsp</md-button>
      </form>
    </md-card-content>
  </md-card>
</md-content>